<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.pay.PayNotifyLogMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.pay.PayNotifyLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="payOrderId" column="pay_order_id" jdbcType="BIGINT"/>
            <result property="refundOrderId" column="refund_order_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
            <result property="responseParams" column="response_params" jdbcType="VARCHAR"/>
            <result property="executeStatus" column="execute_status" jdbcType="TINYINT"/>
            <result property="executeMsg" column="execute_msg" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,pay_order_id,
        refund_order_id,type,request_params,
        response_params,execute_status,execute_msg,
        version,created_at,updated_at
    </sql>
</mapper>
