<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.pay.PayOrderMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.pay.PayOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="payNo" column="pay_no" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="channelId" column="channel_id" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
            <result property="tradeStatus" column="trade_status" jdbcType="VARCHAR"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="successTime" column="success_time" jdbcType="TIMESTAMP"/>
            <result property="closeTime" column="close_time" jdbcType="TIMESTAMP"/>
            <result property="closeReason" column="close_reason" jdbcType="VARCHAR"/>
            <result property="notifyTime" column="notify_time" jdbcType="TIMESTAMP"/>
            <result property="notifyStatus" column="notify_status" jdbcType="TINYINT"/>
            <result property="notifyCount" column="notify_count" jdbcType="INTEGER"/>
            <result property="lastNotifyTime" column="last_notify_time" jdbcType="TIMESTAMP"/>
            <result property="clientIp" column="client_ip" jdbcType="VARCHAR"/>
            <result property="deviceType" column="device_type" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,pay_no,
        order_id,order_no,member_id,
        channel_id,amount,status,
        trade_no,trade_status,pay_time,
        expire_time,success_time,close_time,
        close_reason,notify_time,notify_status,
        notify_count,last_notify_time,client_ip,
        device_type,remark,version,
        created_at,updated_at
    </sql>
</mapper>
