<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.pay.PayRefundMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.pay.PayRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="refundNo" column="refund_no" jdbcType="VARCHAR"/>
            <result property="payOrderId" column="pay_order_id" jdbcType="BIGINT"/>
            <result property="payNo" column="pay_no" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="channelId" column="channel_id" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
            <result property="tradeStatus" column="trade_status" jdbcType="VARCHAR"/>
            <result property="successTime" column="success_time" jdbcType="TIMESTAMP"/>
            <result property="notifyTime" column="notify_time" jdbcType="TIMESTAMP"/>
            <result property="notifyStatus" column="notify_status" jdbcType="TINYINT"/>
            <result property="notifyCount" column="notify_count" jdbcType="INTEGER"/>
            <result property="lastNotifyTime" column="last_notify_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,refund_no,
        pay_order_id,pay_no,order_id,
        order_no,member_id,channel_id,
        amount,reason,status,
        trade_no,trade_status,success_time,
        notify_time,notify_status,notify_count,
        last_notify_time,remark,version,
        created_at,updated_at
    </sql>
</mapper>
