<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.pdt.PdtSpuMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.pdt.PdtSpu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="mainImage" column="main_image" jdbcType="VARCHAR"/>
            <result property="subImages" column="sub_images" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
            <result property="costPrice" column="cost_price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="sales" column="sales" jdbcType="INTEGER"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isNew" column="is_new" jdbcType="TINYINT"/>
            <result property="isHot" column="is_hot" jdbcType="TINYINT"/>
            <result property="isRecommend" column="is_recommend" jdbcType="TINYINT"/>
            <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,name,
        code,category_id,brand_id,
        main_image,sub_images,detail,
        price,market_price,cost_price,
        stock,sales,unit,
        weight,status,is_new,
        is_hot,is_recommend,keywords,
        remark,version,created_at,
        updated_at
    </sql>
</mapper>
