<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash 输出 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpAppender">
        <destination>logstash-server:5000</destination> <!-- 替换为实际的 Logstash 服务器地址和端口 -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name": "ecoShop"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="com.ecoshop.dao.mapper" level="DEBUG"/>
</configuration>