<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.user.OperateLogPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.user.OperateLogPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="module" column="module" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
            <result property="responseData" column="response_data" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,username,
        module,business_type,method,
        request_url,request_method,request_param,
        response_data,ip,status,
        error_msg,operate_time,version,
        created_at,updated_at
    </sql>
</mapper>
