<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.sys.RoleResourceMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.sys.RoleResourcePo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="resourceId" column="resource_id" jdbcType="BIGINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,role_id,
        resource_id,version
    </sql>

    <select id="find" resultMap="BaseResultMap">
        select * from sys_role_permission
        <where>
            <if test="null != tenantId">
                tenant_id = #{tenantId}
            </if>
            <if test="null != roleId">
                and role_id = #{roleId}
            </if>
            <if test="null != resourceId">
                and resource_id = #{resourceId}
            </if>
        </where>
    </select>

    <select id="pageQuery" resultMap="BaseResultMap">
        select *
        from sys_role_permission
        order by updated_at desc
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <select id="pageCount" resultType="integer">
        select COUNT(id)
        from sys_role_permission
    </select>

    <insert id="add" parameterType="com.ecoshop.dao.po.sys.RoleResourcePo">
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            tenant_id,
            role_id,
            resource_id
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{roleResourcePo.tenantId},
            #{roleResourcePo.roleId},
            #{roleResourcePo.resourceId}
        </trim>
    </insert>

    <update id="edit" parameterType="com.ecoshop.dao.po.sys.RoleResourcePo">
        update sys_role_permission
        <set>
            <if test="roleResourcePo.tenantId != null">
                tenant_id = #{roleResourcePo.tenantId},
            </if>
            <if test="roleResourcePo.resourceId != null">
                resource_id = #{roleResourcePo.resourceId},
            </if>
            <if test="roleResourcePo.roleId != null">
                role_id = #{roleResourcePo.roleId},
            </if>
            <if test="roleResourcePo.version != null">
                version = #{roleResourcePo.version} + 1
            </if>
        </set>
        WHERE id = #{id} and version = #{version}
    </update>

    <delete id="del" parameterType="integer">
        delete
        from sys_role_permission
        where id = #{id}
    </delete>
</mapper>
