<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.sys.RouteMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.sys.RoutePo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="meta" column="meta" jdbcType="OTHER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="hidden" column="hidden" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,parent_id,
        name,path,component,
        redirect,meta,sort,
        hidden,status,remark,
        version
    </sql>

    <select id="find" resultMap="BaseResultMap">
        select * from sys_route
        <where>
            <if test="null != tenantId">
                tenant_id = #{tenantId}
            </if>
            <if test="null != parentId">
                and parent_id = #{parentId}
            </if>
            <if test="null != name">
                and name = #{name}
            </if>
            <if test="null != path">
                and path = #{path}
            </if>
            <if test="null != status">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="pageQuery" resultMap="BaseResultMap">
        select *
        from sys_route
        <if test="null != tenantId">
            tenant_id = #{tenantId}
        </if>
        <if test="null != parentId">
            and parent_id = #{parentId}
        </if>
        <if test="null != name">
            and name = #{name}
        </if>
        <if test="null != path">
            and path = #{path}
        </if>
        <if test="null != status">
            and status = #{status}
        </if>
        order by updated_at desc
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <select id="pageCount" resultType="integer">
        select COUNT(id)
        from sys_route
        <if test="null != tenantId">
            tenant_id = #{tenantId}
        </if>
        <if test="null != parentId">
            and parent_id = #{parentId}
        </if>
        <if test="null != name">
            and name = #{name}
        </if>
        <if test="null != path">
            and path = #{path}
        </if>
        <if test="null != status">
            and status = #{status}
        </if>
    </select>

    <insert id="add" parameterType="com.ecoshop.dao.po.sys.RoutePo">
        insert into sys_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            tenant_id,parent_id,
            name,path,component,
            redirect,meta,sort,
            hidden,status,remark
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{tenantId},#{parentId},
            #{name},#{path},#{component},
            #{redirect},#{meta},#{sort},
            #{hidden},#{status},#{remark}
        </trim>
    </insert>

    <update id="edit" parameterType="com.ecoshop.dao.po.sys.RoutePo">
        update sys_route
        <set>
            <if test="null != tenantId">
                tenant_id = #{tenantId}
            </if>
            <if test="null != parentId">
                and parent_id = #{parentId}
            </if>
            <if test="null != name">
                and name = #{name}
            </if>
            <if test="null != path">
                and path = #{path}
            </if>
            <if test="null != status">
                and status = #{status}
            </if>
            <if test="version != null">
                version = #{version} + 1
            </if>
        </set>
        WHERE id = #{id} and version = #{version}
    </update>

    <delete id="del" parameterType="integer">
        delete
        from sys_route
        where id = #{id}
    </delete>
</mapper>
