<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.sys.UserPositionMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.sys.UserPositionPo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="positionId" column="position_id" jdbcType="BIGINT"/>
        <result property="isPrimary" column="is_primary" jdbcType="TINYINT"/>
        <result property="startDate" column="start_date" jdbcType="DATE"/>
        <result property="endDate" column="end_date" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,user_id,
        org_id,position_id,is_primary,
        start_date,end_date,status,
        version
    </sql>

    <select id="find" resultMap="BaseResultMap">
        select * from sys_user_position
        <where>
            <if test="null != tenantId and '' != tenantId">
                and tenant_id = #{tenantId}
            </if>
            <if test="null != userId and '' != userId">
                and user_id = #{userId}
            </if>
            <if test="null != orgId and '' != orgId">
                and org_id = #{orgId}
            </if>
            <if test="null != positionId and '' != positionId">
                and position_id = #{positionId}
            </if>
        </where>
    </select>

    <select id="pageQuery" resultMap="BaseResultMap">
        select *
        from sys_user_position
        ORDER BY created_at DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="pageCount" resultType="integer">
        select count(id)
        from sys_user_position
    </select>

    <insert id="add" parameterType="com.ecoshop.dao.po.sys.UserPositionPo">
        INSERT INTO sys_user_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List"/>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{tenantId},#{userId},
            #{orgId},#{positionId},#{isPrimary},
            #{startDate},#{endDate},#{status},
            #{version}
        </trim>
    </insert>

    <update id="edit" parameterType="com.ecoshop.dao.po.sys.UserPositionPo">
        UPDATE sys_user_position
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orgId != null">
                org_id = #{orgId},
            </if>
            <if test="positionId != null">
                position_id = #{positionId},
            </if>
            <if test="isPrimary != null">
                is_primary = #{isPrimary},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="version != null">
                version = #{version} + 1
            </if>
        </set>
        WHERE id = #{id} and version = #{version}
    </update>

    <delete id="del" parameterType="integer">
        DELETE FROM sys_user_position where id = #{id}
    </delete>
</mapper>
