<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.member.MemberStatisticsPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.member.MemberStatisticsPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="totalOrderCount" column="total_order_count" jdbcType="INTEGER"/>
            <result property="totalOrderAmount" column="total_order_amount" jdbcType="DECIMAL"/>
            <result property="totalPointsGained" column="total_points_gained" jdbcType="INTEGER"/>
            <result property="totalPointsUsed" column="total_points_used" jdbcType="INTEGER"/>
            <result property="totalCouponCount" column="total_coupon_count" jdbcType="INTEGER"/>
            <result property="usedCouponCount" column="used_coupon_count" jdbcType="INTEGER"/>
            <result property="favoriteProductCount" column="favorite_product_count" jdbcType="INTEGER"/>
            <result property="reviewCount" column="review_count" jdbcType="INTEGER"/>
            <result property="returnOrderCount" column="return_order_count" jdbcType="INTEGER"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,member_id,
        total_order_count,total_order_amount,total_points_gained,
        total_points_used,total_coupon_count,used_coupon_count,
        favorite_product_count,review_count,return_order_count,
        last_login_time,version,created_at,
        updated_at
    </sql>
</mapper>
