<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.member.MemberGrowthRecordPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.member.MemberGrowthRecordPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="growth" column="growth" jdbcType="INTEGER"/>
            <result property="beforeGrowth" column="before_growth" jdbcType="INTEGER"/>
            <result property="afterGrowth" column="after_growth" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="sourceId" column="source_id" jdbcType="VARCHAR"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,member_id,
        type,growth,before_growth,
        after_growth,description,source,
        source_id,operator_id,operator_name,
        remark,version,created_at,
        updated_at
    </sql>
</mapper>
