<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.member.MemberPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.member.MemberPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="levelId" column="level_id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="consumptionAmount" column="consumption_amount" jdbcType="DECIMAL"/>
            <result property="consumptionCount" column="consumption_count" jdbcType="INTEGER"/>
            <result property="lastConsumptionTime" column="last_consumption_time" jdbcType="TIMESTAMP"/>
            <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
            <result property="registerSource" column="register_source" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,user_id,
        level_id,nickname,avatar,
        gender,birthday,mobile,
        email,points,consumption_amount,
        consumption_count,last_consumption_time,register_time,
        register_source,status,remark,
        version,created_at,updated_at
    </sql>
</mapper>
