<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.mms.MmsSignInMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.member.MmsSignIn">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="signDate" column="sign_date" jdbcType="DATE"/>
            <result property="continuousDays" column="continuous_days" jdbcType="INTEGER"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="device" column="device" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,member_id,
        sign_date,continuous_days,points,
        ip,device,remark,
        version,created_at,updated_at
    </sql>
</mapper>
