<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.member.WalletTransactionPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.member.WalletTransactionPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="transactionNo" column="transaction_no" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="beforeBalance" column="before_balance" jdbcType="DECIMAL"/>
            <result property="afterBalance" column="after_balance" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="sourceId" column="source_id" jdbcType="VARCHAR"/>
            <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,member_id,
        transaction_no,type,amount,
        before_balance,after_balance,status,
        description,source,source_id,
        payment_method,payment_time,remark,
        version,created_at,updated_at
    </sql>
</mapper>
