<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.marketing.FullReductionRulePoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.marketing.FullReductionRulePo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="fullReductionId" column="full_reduction_id" jdbcType="BIGINT"/>
            <result property="threshold" column="threshold" jdbcType="DECIMAL"/>
            <result property="discount" column="discount" jdbcType="DECIMAL"/>
            <result property="giftProductId" column="gift_product_id" jdbcType="BIGINT"/>
            <result property="giftQuantity" column="gift_quantity" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,full_reduction_id,
        threshold,discount,gift_product_id,
        gift_quantity,sort,version,
        created_at,updated_at
    </sql>
</mapper>
