<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.order.OrderLogPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.order.OrderLogPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="statusBefore" column="status_before" jdbcType="VARCHAR"/>
            <result property="statusAfter" column="status_after" jdbcType="VARCHAR"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
            <result property="operatorRole" column="operator_role" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,order_id,
        order_no,action,status_before,
        status_after,operator_id,operator_name,
        operator_role,content,ip,
        version,created_at,updated_at
    </sql>
</mapper>
