<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.order.OrderPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.order.OrderPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
            <result property="freightAmount" column="freight_amount" jdbcType="DECIMAL"/>
            <result property="discountAmount" column="discount_amount" jdbcType="DECIMAL"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="pointsAmount" column="points_amount" jdbcType="DECIMAL"/>
            <result property="paymentType" column="payment_type" jdbcType="VARCHAR"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="paymentSerialNo" column="payment_serial_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="shippingName" column="shipping_name" jdbcType="VARCHAR"/>
            <result property="shippingPhone" column="shipping_phone" jdbcType="VARCHAR"/>
            <result property="shippingAddress" column="shipping_address" jdbcType="VARCHAR"/>
            <result property="shippingCode" column="shipping_code" jdbcType="VARCHAR"/>
            <result property="shippingCompany" column="shipping_company" jdbcType="VARCHAR"/>
            <result property="shippingTime" column="shipping_time" jdbcType="TIMESTAMP"/>
            <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
            <result property="closeTime" column="close_time" jdbcType="TIMESTAMP"/>
            <result property="closeReason" column="close_reason" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,order_no,
        user_id,username,total_amount,
        pay_amount,freight_amount,discount_amount,
        coupon_amount,points_amount,payment_type,
        payment_time,payment_serial_no,status,
        shipping_name,shipping_phone,shipping_address,
        shipping_code,shipping_company,shipping_time,
        receive_time,close_time,close_reason,
        remark,source,version,
        created_at,updated_at
    </sql>
</mapper>
