<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.ord.OrdRefundMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.order.OrdRefund">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="refundNo" column="refund_no" jdbcType="VARCHAR"/>
            <result property="paymentId" column="payment_id" jdbcType="BIGINT"/>
            <result property="refundAmount" column="refund_amount" jdbcType="DECIMAL"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="refundType" column="refund_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="refuseReason" column="refuse_reason" jdbcType="VARCHAR"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
            <result property="handleTime" column="handle_time" jdbcType="TIMESTAMP"/>
            <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,order_id,
        order_no,member_id,refund_no,
        payment_id,refund_amount,reason,
        refund_type,status,refuse_reason,
        operator_id,operator_name,handle_time,
        refund_time,remark,version,
        created_at,updated_at
    </sql>
</mapper>
