<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.product.ProductSkuPoMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.product.ProductSkuPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="specValues" column="spec_values" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
            <result property="costPrice" column="cost_price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="sales" column="sales" jdbcType="INTEGER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,product_id,
        sku_code,spec_values,price,
        market_price,cost_price,stock,
        sales,image,status,
        remark,version,created_at,
        updated_at
    </sql>
</mapper>
