<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoshop.dao.mapper.coupon.MktGroupRecordMapper">

    <resultMap id="BaseResultMap" type="com.ecoshop.dao.po.coupon.MktGroupRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="groupSpuId" column="group_spu_id" jdbcType="BIGINT"/>
            <result property="leaderId" column="leader_id" jdbcType="BIGINT"/>
            <result property="currentNum" column="current_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="successTime" column="success_time" jdbcType="TIMESTAMP"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,group_id,
        group_spu_id,leader_id,current_num,
        status,success_time,expire_time,
        version,created_at,updated_at
    </sql>
</mapper>
